# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebook outputs (optional)
*.ipynb_checkpoints
